*{
    margin: 0;
    padding: 0;
}
#h1{
    font-family: 'ROG FONTS';
    font-style: inherit;
    color: #4682B4;
}
body{
    background-color: #E0FFFF;
    text-align: center;
}
.container{
    height:70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    font-family: 'ROG FONTS';
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    font-size: 8vmin;
    color:#4682B4 ;
    
}
#reset{
    align-items: center;
    height: 10vmin;
    width: 15vmin;
    border-radius:1rem ;
    border: none;
    box-shadow:0 0 1rem rgba(0, 0, 0, 1) ;
    font: bold;
    font-size: 2vmin;
    font-family:'ROG FONTS';
    color: burlywood;
}
#new{
    align-items: center;
    height: 10vmin;
    width: 15vmin;
    border-radius:0.5rem ;
    border: none;
    box-shadow:0 0 1rem rgba(0, 0, 0, 1) ;
    font: bold;
    font-size: 2vmin;
    font-family:'ROG FONTS';
    color: burlywood;

}
#mssg{
    color: black;
    font-size: 5vmin;
    gap: 4rem;
    font-family: 'ROG FONTS';
    color:#191970;

}
.msg{
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}